<header id="header" class="header left-aligned-navbar" data-hs-header-options="{
            &quot;fixMoment&quot;: 1000,
            &quot;fixEffect&quot;: &quot;slide&quot;
        }">
<div class="header-section shadow-soft">
<div id="logoAndNav" class="container-fluid px-md-5">

<nav class="js-mega-menu navbar navbar-expand-xl py-0 position-static justify-content-start">

<button type="button" class="navbar-toggler btn btn-icon btn-sm rounded-circle mr-2" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
<span class="navbar-toggler-default">
<svg width="14" height="14" viewbox="0 0 18 18" xmlns="../../../../www.w3.org/2000/svg.html">
<path fill="currentColor" d="M17.4,6.2H0.6C0.3,6.2,0,5.9,0,5.5V4.1c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,5.9,17.7,6.2,17.4,6.2z M17.4,14.1H0.6c-0.3,0-0.6-0.3-0.6-0.7V12c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,13.7,17.7,14.1,17.4,14.1z" />
</svg>
</span>
<span class="navbar-toggler-toggled">
<svg width="14" height="14" viewbox="0 0 18 18" xmlns="../../../../www.w3.org/2000/svg.html">
<path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z" />
</svg>
</span>
</button>


<div class="hs-unfold d-none d-xl-block">
<a class="js-hs-unfold-invoker mr-4" href="javascript:;" data-hs-unfold-options="{
                                &quot;target&quot;: &quot;#sidebarContent&quot;,
                                &quot;type&quot;: &quot;css-animation&quot;,
                                &quot;animationIn&quot;: &quot;fadeInLeft&quot;,
                                &quot;animationOut&quot;: &quot;fadeOutLeft&quot;,
                                &quot;hasOverlay&quot;: &quot;rgba(55, 125, 255, 0.1)&quot;,
                                &quot;smartPositionOff&quot;: true
                            }"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" style="fill: #97979f;"><path d="M0 13L0 11.4 16 11.4 16 13 0 13ZM0 5.7L16 5.7 16 7.3 0 7.3 0 5.7ZM0 0L16 0 16 1.6 0 1.6 0 0Z"></path></svg>
</a>
</div>


<a class="navbar-brand w-auto mr-xl-5 mr-wd-8" href="index.html" aria-label="Vodi">


<img src="/images/main-logo.png">


</a>


<div id="navBar" class="collapse navbar-collapse order-1 order-xl-0">
<div class="navbar-body header-abs-top-inner">
<ul class="navbar-nav">

<li class="hs-has-mega-menu navbar-nav-item">
<a id="homeMegaMenu" class="hs-mega-menu-invoker nav-link font-secondary" href="javascript:;" aria-haspopup="true" aria-expanded="false">Home</a>
</li>


<li class="hs-has-sub-menu navbar-nav-item">
<a id="pagesMegaMenu" class="hs-mega-menu-invoker nav-link font-secondary" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="pagesSubMenu">Pages</a>
</li>


<li class="hs-has-mega-menu navbar-nav-item">
<a id="moviesMegaMenu" class="hs-mega-menu-invoker nav-link font-secondary" href="javascript:;" aria-haspopup="true" aria-expanded="false">Movies</a>



</li>


<li class="hs-has-mega-menu navbar-nav-item">
<a id="tvshowsMegaMenu" class="hs-mega-menu-invoker nav-link font-secondary" href="javascript:;" aria-haspopup="true" aria-expanded="false">TV Shows</a>



</li>


<li class="hs-has-sub-menu navbar-nav-item">
<a id="blogMegaMenu" class="hs-mega-menu-invoker nav-link font-secondary" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="blogSubMenu">Blog</a>



</li>


<li class="hs-has-sub-menu navbar-nav-item">
<a id="docsMegaMenu" class="hs-mega-menu-invoker nav-link font-secondary" href="javascript:;" aria-haspopup="true" aria-expanded="false">Docs</a>

<div class="hs-sub-menu dropdown-menu mega-menu-sub-menu-md" aria-labelledby="docsMegaMenu">

<div class="navbar-promo-item">
<a class="navbar-promo-link" href="https://demo2.madrasthemes.com/vodi-html/documentation/index.html">
<div class="media align-items-center">
<i class="fas fa-book font-size-34 mr-2d"></i>
<div class="media-body">
<span class="navbar-promo-title">
Documentation
<span class="badge badge-primary badge-pill ml-1">v1.0</span>
</span>
<small class="navbar-promo-text">Development guides</small>
</div>
</div>
</a>
</div>


<div class="navbar-promo-item">
<a class="navbar-promo-link" href="https://demo2.madrasthemes.com/vodi-html/snippets/index.html">
<div class="media align-items-center">
<i class="fas fa-cut font-size-34 mr-2d"></i>
<div class="media-body">
<span class="navbar-promo-title">Snippets</span>
<small class="navbar-promo-text">Start building</small>
</div>
</div>
</a>
</div>

</div>

</li>

</ul>
</div>
</div>

<div class="d-flex align-items-center ml-auto">

<div class="d-inline-flex ml-md-5">
<ul class="d-flex list-unstyled mb-0 align-items-center">



</ul>
</div>
</div>
</nav>

</div>
</div>
</header>