<div class="container px-md-6 mb-5 mb-lg-9 space-top-5 space-top-lg-0 ">
<div class="mx-md-1 space-top-5 space-top-lg-0">
<section class="home-section section-hot-premier-show mb-5 pb-1 space-top-2">
<header class="d-md-flex align-items-center justify-content-between mb-5 w-100">
<h6 class="font-size-24 font-weight-medium m-0 text-gray-700">Hot Premieres</h6>
<div class="d-none d-lg-block border-top col p-0 ml-3 border-gray-3600"></div>
<div class="tab-nav__v2">
<ul class="nav flex-nowrap flex-md-wrap justify-content-start overflow-auto align-items-center" role="tablist">
<li class="nav-item flex-shrink-0 flex-shrink-md-0">
<a class="nav-link active" id="pills-one-code-features-example4-tab" data-toggle="pill" href="#pills-one-code-features-example4" role="tab" aria-controls="pills-one-code-features-example4" aria-selected="true">Today</a>
</li>
<li class="nav-item flex-shrink-0 flex-shrink-md-0">
<a class="nav-link" id="pills-two-code-features-example4-tab" data-toggle="pill" href="#pills-two-code-features-example4" role="tab" aria-controls="pills-two-code-features-example4" aria-selected="false">This week</a>
</li>
<li class="nav-item flex-shrink-0 flex-shrink-md-0">
<a class="nav-link" id="pills-three-code-features-example4-tab" data-toggle="pill" href="#pills-three-code-features-example4" role="tab" aria-controls="pills-three-code-features-example4" aria-selected="false">Last 30 Days</a>
</li>
</ul>
</div>
</header>
<div class="tab-content">
<div class="tab-pane fade show active" id="pills-one-code-features-example4" role="tabpanel" aria-labelledby="pills-one-code-features-example4-tab">
<div class="row mx-n2">
<div class="col-md-6 col-lg-3 px-2">
<div class="position-relative dark mb-4 mb-lg-0">
<div class="movie_poster">
<div>
<img class="img-fluid" src="../../assets/img/263x393/img1.jpg" alt="Image-Description">
</div>
</div>
<div class="position-absolute bottom-0">
<div class="pl-3 pr-5 pb-3">
<h6 class="product-title font-size-3 mb-2">
<a href="../single-movies/single-movies-v6.html">Have a Nice Day</a>
</h6>
<p class="text-white text-center font-size-1 max-h-42rem overflow-hidden">A city in southern China and a bag containing a million yuan draw several people from diverse backgrounds with different personal motives into a bloody conflict</p>
<div class="pb-1">
<a href="../single-movies/single-movies-v6.html" class="btn btn-outline-white py-3 w-100 btn-sm" tabindex="0">WATCH NOW</a>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3 px-2">
<div class="position-relative dark mb-4 mb-lg-0">
<div class="movie_poster">
<div>
<img class="img-fluid" src="../../assets/img/263x393/img2.jpg" alt="Image-Description">
</div>
</div>
<div class="position-absolute bottom-0 pb-3">
<div class="pl-5 pr-6">
<h6 class="product-title font-size-3 mb-2">
<a href="../single-movies/single-movies-v6.html">Black Mirror</a>
</h6>
<p class="text-white text-center font-size-1 max-h-42rem overflow-hidden">In 1984, a young programmer begins to question reality as he works to adapt a fantasy novel into a video game.</p>
</div>
<div class="pb-1 pl-3 pr-5">
<a href="../single-movies/single-movies-v6.html" class="btn btn-outline-white py-3 w-100 btn-sm" tabindex="0">WATCH NOW</a>
</div>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3 px-2">
<div class="position-relative dark mb-4 mb-lg-0">
<div class="movie_poster">
<div>
<img class="img-fluid" src="../../assets/img/263x393/img3.jpg" alt="Image-Description">
</div>
</div>
<div class="position-absolute bottom-0">
<div class="pl-3 pr-5 pb-3">
<h6 class="product-title font-size-3 mb-2 text-center">
<a href="../single-movies/single-movies-v6.html">Mad</a>
</h6>
<p class="text-white text-center font-size-1 max-h-42rem overflow-hidden">A matriarch past the point of a nervous breakdown, her two daughters that don’t give a damn, and the heat-seeking missiles of resentment they toss at each other.</p>
<div class="pb-1">
<a href="../single-movies/single-movies-v6.html" class="btn btn-outline-white py-3 w-100 btn-sm" tabindex="0">WATCH NOW</a>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3 px-2">
<div class="position-relative dark">
<div class="movie_poster">
<div>
<img class="img-fluid" src="../../assets/img/263x393/img4.jpg" alt="Image-Description">
</div>
</div>
<div class="position-absolute bottom-0">
<div class="pl-3 pr-5 pb-3">
<h6 class="product-title font-size-3 mb-2 text-center">
<a href="../single-movies/single-movies-v6.html">Delta Bravo</a>
</h6>
<p class="text-white text-center font-size-1 max-h-42rem overflow-hidden">strange black entity from another world bonds with Peter Parker and causes inner turmoil as he contends with new villains, temptations, and revenge.</p>
<div class="pb-1">
<a href="../single-movies/single-movies-v6.html" class="btn btn-outline-white py-3 w-100 btn-sm" tabindex="0">WATCH NOW</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="tab-pane fade" id="pills-two-code-features-example4" role="tabpanel" aria-labelledby="pills-two-code-features-example4-tab">
<div class="row mx-n2">
<div class="col-md-6 col-lg-3 px-2">
<div class="position-relative dark mb-4 mb-lg-0">
<div class="movie_poster">
<div>
<img class="img-fluid" src="../../assets/img/263x393/img2.jpg" alt="Image-Description">
</div>
</div>
<div class="position-absolute bottom-0">
<div class="pl-3 pr-5 pb-3">
<h6 class="product-title font-size-3 mb-2">
<a href="../single-movies/single-movies-v6.html">Have a Nice Day</a>
</h6>
<p class="text-white text-center font-size-1 max-h-42rem overflow-hidden">A city in southern China and a bag containing a million yuan draw several people from diverse backgrounds with different personal motives into a bloody conflict</p>
<div class="pb-1">
<a href="../single-movies/single-movies-v6.html" class="btn btn-outline-white py-3 w-100 btn-sm" tabindex="0">WATCH NOW</a>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3 px-2">
<div class="position-relative dark mb-4 mb-lg-0">
<div class="movie_poster">
<div>
<img class="img-fluid" src="../../assets/img/263x393/img4.jpg" alt="Image-Description">
</div>
</div>
<div class="position-absolute bottom-0 pb-3">
<div class="pl-5 pr-6">
<h6 class="product-title font-size-3 mb-2">
<a href="../single-movies/single-movies-v6.html">Black Mirror</a>
</h6>
<p class="text-white text-center font-size-1 max-h-42rem overflow-hidden">In 1984, a young programmer begins to question reality as he works to adapt a fantasy novel into a video game.</p>
</div>
<div class="pb-1 pl-3 pr-5">
<a href="../single-movies/single-movies-v6.html" class="btn btn-outline-white py-3 w-100 btn-sm" tabindex="0">WATCH NOW</a>
</div>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3 px-2">
<div class="position-relative dark mb-4 mb-lg-0">
<div class="movie_poster">
<div>
<img class="img-fluid" src="../../assets/img/263x393/img1.jpg" alt="Image-Description">
</div>
</div>
<div class="position-absolute bottom-0">
<div class="pl-3 pr-5 pb-3">
<h6 class="product-title font-size-3 mb-2 text-center">
<a href="../single-movies/single-movies-v6.html">Mad</a>
</h6>
<p class="text-white text-center font-size-1 max-h-42rem overflow-hidden">A matriarch past the point of a nervous breakdown, her two daughters that don’t give a damn, and the heat-seeking missiles of resentment they toss at each other.</p>
<div class="pb-1">
<a href="../single-movies/single-movies-v6.html" class="btn btn-outline-white py-3 w-100 btn-sm" tabindex="0">WATCH NOW</a>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3 px-2">
<div class="position-relative dark">
<div class="movie_poster">
<div>
<img class="img-fluid" src="../../assets/img/263x393/img3.jpg" alt="Image-Description">
</div>
</div>
<div class="position-absolute bottom-0">
<div class="pl-3 pr-5 pb-3">
<h6 class="product-title font-size-3 mb-2 text-center">
<a href="../single-movies/single-movies-v6.html">Delta Bravo</a>
</h6>
<p class="text-white text-center font-size-1 max-h-42rem overflow-hidden">strange black entity from another world bonds with Peter Parker and causes inner turmoil as he contends with new villains, temptations, and revenge.</p>
<div class="pb-1">
<a href="../single-movies/single-movies-v6.html" class="btn btn-outline-white py-3 w-100 btn-sm" tabindex="0">WATCH NOW</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="tab-pane fade" id="pills-three-code-features-example4" role="tabpanel" aria-labelledby="pills-three-code-features-example4-tab">
<div class="row mx-n2">
<div class="col-md-6 col-lg-3 px-2">
<div class="position-relative dark mb-4 mb-lg-0">
<div class="movie_poster">
<div>
<img class="img-fluid" src="../../assets/img/263x393/img3.jpg" alt="Image-Description">
</div>
</div>
<div class="position-absolute bottom-0">
<div class="pl-3 pr-5 pb-3">
<h6 class="product-title font-size-3 mb-2">
<a href="../single-movies/single-movies-v6.html">Have a Nice Day</a>
</h6>
<p class="text-white text-center font-size-1 max-h-42rem overflow-hidden">A city in southern China and a bag containing a million yuan draw several people from diverse backgrounds with different personal motives into a bloody conflict</p>
<div class="pb-1">
<a href="../single-movies/single-movies-v6.html" class="btn btn-outline-white py-3 w-100 btn-sm" tabindex="0">WATCH NOW</a>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3 px-2">
<div class="position-relative dark mb-4 mb-lg-0">
<div class="movie_poster">
<div>
<img class="img-fluid" src="../../assets/img/263x393/img1.jpg" alt="Image-Description">
</div>
</div>
<div class="position-absolute bottom-0 pb-3">
<div class="pl-5 pr-6">
<h6 class="product-title font-size-3 mb-2">
<a href="../single-movies/single-movies-v6.html">Black Mirror</a>
</h6>
<p class="text-white text-center font-size-1 max-h-42rem overflow-hidden">In 1984, a young programmer begins to question reality as he works to adapt a fantasy novel into a video game.</p>
</div>
<div class="pb-1 pl-3 pr-5">
<a href="../single-movies/single-movies-v6.html" class="btn btn-outline-white py-3 w-100 btn-sm" tabindex="0">WATCH NOW</a>
</div>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3 px-2">
<div class="position-relative dark mb-4 mb-lg-0">
<div class="movie_poster">
<div>
<img class="img-fluid" src="../../assets/img/263x393/img4.jpg" alt="Image-Description">
</div>
</div>
<div class="position-absolute bottom-0">
<div class="pl-3 pr-5 pb-3">
<h6 class="product-title font-size-3 mb-2 text-center">
<a href="../single-movies/single-movies-v6.html">Mad</a>
</h6>
<p class="text-white text-center font-size-1 max-h-42rem overflow-hidden">A matriarch past the point of a nervous breakdown, her two daughters that don’t give a damn, and the heat-seeking missiles of resentment they toss at each other.</p>
<div class="pb-1">
<a href="../single-movies/single-movies-v6.html" class="btn btn-outline-white py-3 w-100 btn-sm" tabindex="0">WATCH NOW</a>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3 px-2">
<div class="position-relative dark">
<div class="movie_poster">
<div>
<img class="img-fluid" src="../../assets/img/263x393/img2.jpg" alt="Image-Description">
</div>
</div>
<div class="position-absolute bottom-0">
<div class="pl-3 pr-5 pb-3">
<h6 class="product-title font-size-3 mb-2 text-center">
<a href="../single-movies/single-movies-v6.html">Delta Bravo</a>
</h6>
<p class="text-white text-center font-size-1 max-h-42rem overflow-hidden">strange black entity from another world bonds with Peter Parker and causes inner turmoil as he contends with new villains, temptations, and revenge.</p>
<div class="pb-1">
<a href="../single-movies/single-movies-v6.html" class="btn btn-outline-white py-3 w-100 btn-sm" tabindex="0">WATCH NOW</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>



</div>
</div>
</div>