<section class="bg-gray-1100 dark">
    <div class="container px-md-4">
        <div class="row mb-xl-5">
            <div class="col-xl-auto d-flex">
                <header class="max-w-370 mt-auto mb-8 title-dash">
                    <h3 class="display-7 text-white mb-3 pr-xl-12 font-weight-semi-bold">Popular Movies to Watch Now</h3>
                    <p class="text-gray-1300 font-secondary font-weight-medium">Most watched movies by days</p>
                    <div class="border-top border-g-1200-op mr-xl-7">
                        <a href="https://demo2.madrasthemes.com/vodi-html/html-demo/archive/movies.html" class="h-w-primary text-gray-1300 font-size-13 d-inline-flex align-items-center pt-2 font-secondary font-weight-medium">VIEW ALL
                            <svg class="ml-2" xmlns="http://www.w3.org/2000/svg" width="4" height="7"><path d="M3.979,3.703 C3.987,3.785 3.966,3.869 3.903,3.934 L1.038,6.901 C0.921,7.023 0.724,7.029 0.598,6.916 L0.143,6.506 C0.017,6.393 0.011,6.203 0.128,6.082 L2.190,3.946 C2.276,3.829 2.356,3.691 2.356,3.548 C2.356,3.214 1.947,2.885 1.947,2.885 L1.963,2.877 L0.080,0.905 C-0.036,0.784 -0.029,0.592 0.095,0.479 L0.547,0.068 C0.671,-0.045 0.867,-0.039 0.983,0.083 L3.823,3.057 C3.867,3.102 3.876,3.161 3.885,3.218 C3.945,3.267 3.988,3.334 3.988,3.416 L3.988,3.681 C3.988,3.690 3.979,3.694 3.979,3.703 Z" fill="rgb(148, 156, 176)" /></svg>
                        </a>
                    </div>
                </header>
            </div>

            <div class="col">
                <div class="row row-cols-2 row-cols-md-5">
                    
                    <div class="col mb-5 mb-xl-0">
                        <div class="product">
                            <div class="product-image mb-2">
                                <a href="https://demo2.madrasthemes.com/vodi-html/html-demo/single-movies/single-movies-v2.html" class="d-inline-block position-relative stretched-link">
                                    <img class="img-fluid" src="../../assets/img/174x260/img1.jpg" alt="Image Description">
                                </a>
                            </div>
                            <div class="product-meta font-size-12 mb-1">
                                <span><a href="https://demo2.madrasthemes.com/vodi-html/html-demo/single-movies/single-movies-v2.html" class="h-g-primary">2020</a></span>
                                <span><a href="https://demo2.madrasthemes.com/vodi-html/html-demo/single-movies/single-movies-v2.html" class="h-g-primary">Action</a></span>
                                <span><a href="https://demo2.madrasthemes.com/vodi-html/html-demo/single-movies/single-movies-v2.html" class="h-g-primary">Comedy</a></span>
                                <span><a href="https://demo2.madrasthemes.com/vodi-html/html-demo/single-movies/single-movies-v2.html" class="h-g-primary">Mystery</a></span>
                            </div>
                            <div class="product-title font-weight-bold font-size-1">
                                <a href="https://demo2.madrasthemes.com/vodi-html/html-demo/single-movies/single-movies-v2.html">Delta Bravo</a>
                            </div>
                        </div>
                    </div>
                    
                    


                        <div class="col mb-5 mb-xl-0">
                        <div class="product">
                        <div class="product-image mb-2">
                        <a href="https://demo2.madrasthemes.com/vodi-html/html-demo/single-movies/single-movies-v2.html" class="d-inline-block position-relative stretched-link"><img class="img-fluid" src="../../assets/img/174x260/img3.jpg" alt="Image Description"></a>
                        </div>
                        <div class="product-meta font-size-12 mb-1">
                        <span><a href="https://demo2.madrasthemes.com/vodi-html/html-demo/single-movies/single-movies-v2.html" class="h-g-primary">2020</a></span>
                        <span><a href="https://demo2.madrasthemes.com/vodi-html/html-demo/single-movies/single-movies-v2.html" class="h-g-primary">Action</a></span>
                        <span><a href="https://demo2.madrasthemes.com/vodi-html/html-demo/single-movies/single-movies-v2.html" class="h-g-primary">Comedy</a></span>
                        <span><a href="https://demo2.madrasthemes.com/vodi-html/html-demo/single-movies/single-movies-v2.html" class="h-g-primary">Mystery</a></span>
                        </div>
                        <div class="product-title font-weight-bold font-size-1"><a href="https://demo2.madrasthemes.com/vodi-html/html-demo/single-movies/single-movies-v2.html">Oh Lucy</a></div>
                        </div>
                        </div>


                        <div class="col mb-5 mb-xl-0">
                        <div class="product">
                        <div class="product-image mb-2">
                        <a href="https://demo2.madrasthemes.com/vodi-html/html-demo/single-movies/single-movies-v2.html" class="d-inline-block position-relative stretched-link"><img class="img-fluid" src="../../assets/img/174x260/img4.jpg" alt="Image Description"></a>
                        </div>
                        <div class="product-meta font-size-12 mb-1">
                        <span><a href="https://demo2.madrasthemes.com/vodi-html/html-demo/single-movies/single-movies-v2.html" class="h-g-primary">2020</a></span>
                        <span><a href="https://demo2.madrasthemes.com/vodi-html/html-demo/single-movies/single-movies-v2.html" class="h-g-primary">Action</a></span>
                        <span><a href="https://demo2.madrasthemes.com/vodi-html/html-demo/single-movies/single-movies-v2.html" class="h-g-primary">Comedy</a></span>
                        <span><a href="https://demo2.madrasthemes.com/vodi-html/html-demo/single-movies/single-movies-v2.html" class="h-g-primary">Mystery</a></span>
                        </div>
                        <div class="product-title font-weight-bold font-size-1"><a href="https://demo2.madrasthemes.com/vodi-html/html-demo/single-movies/single-movies-v2.html">Euphoria</a></div>
                        </div>
                        </div>



                        <div class="col mb-5 mb-xl-0">
                        <div class="product">
                        <div class="product-image mb-2">
                        <a href="https://demo2.madrasthemes.com/vodi-html/html-demo/single-movies/single-movies-v2.html" class="d-inline-block position-relative stretched-link"><img class="img-fluid" src="../../assets/img/174x260/img5.jpg" alt="Image Description"></a>
                        </div>
                        <div class="product-meta font-size-12 mb-1">
                        <span><a href="https://demo2.madrasthemes.com/vodi-html/html-demo/single-movies/single-movies-v2.html" class="h-g-primary">2020</a></span>
                        <span><a href="https://demo2.madrasthemes.com/vodi-html/html-demo/single-movies/single-movies-v2.html" class="h-g-primary">Action</a></span>
                        <span><a href="https://demo2.madrasthemes.com/vodi-html/html-demo/single-movies/single-movies-v2.html" class="h-g-primary">Comedy</a></span>
                        <span><a href="https://demo2.madrasthemes.com/vodi-html/html-demo/single-movies/single-movies-v2.html" class="h-g-primary">Mystery</a></span>
                        </div>
                        <div class="product-title font-weight-bold font-size-1"><a href="https://demo2.madrasthemes.com/vodi-html/html-demo/single-movies/single-movies-v2.html">Black Mirror</a></div>
                        </div>
                        </div>


</div>
</div>
</div>






</div>
</div>

</section>