<main id="content">
<div class="container px-md-5">

{{!-- Breadcum --}}





<div class="row mb-5 mb-lg-6">
<div class="col-lg-12">
<div class="mb-6">
<div class="mb-6">
<h6 class="font-size-26 font-weight-semi-bold mb-1">
Wizard Actor Has Another Digital Comics Role – Featured Slideshow
</h6>
<div class="mb-3 pb-1">
<a href="../blog/blog-single.html" class="font-weight-semi-bold font-size-13">
<span>Hot Rumours</span>
</a>
<a href="../blog/blog-single.html" class="product-comment font-weight-normal font-size-13 font-italic h-g-primary">
<span>February 6 2020</span>
</a>
</div>

                        {{!-- Header Date Scroll --}}
                        <div class="scrollmenu">
                            <a href="#home">Home</a>
                            <a href="#news">News</a>
                            <a href="#contact">Contact</a>
                            <a href="#about">About</a>
                                <a href="#about">About</a>
                            <a href="#about">About</a>

                            <a href="#about">About</a>
                            <a href="#about">About</a>
                            <a href="#about">About</a>
                            <a href="#about">About</a>
                            <a href="#about">About</a>
                            <a href="#about">About</a>
                            <a href="#about">About</a>
                            <a href="#about">About</a>
                            <a href="#about">About</a>
                            <a href="#about">About</a>
                            <a href="#about">About</a>
                            <a href="#about">About</a>
                            <a href="#about">About</a>
                            <a href="#about">About</a>
                            <a href="#about">About</a>
                            <a href="#about">About</a>
                            <a href="#about">About</a>
                            <a href="#about">About</a>
                            <a href="#about">About</a>
                            <a href="#about">About</a>
                            <a href="#about">About</a>
                            <a href="#about">About</a>
                            <a href="#about">About</a>
                        </div>
                        {{!-- End of Date Header --}}

<div class="">
    <div class="col-lg-12">
        <div class="col-mb-4">
            <div class="ico-card">
            <div class="ico-card-inner">
                <img class="ico-card-logo" src="https://icodrops.com/wp-content/uploads/2018/06/Glass-Logo-150x150.jpg" alt="">
                <div class="ico-card-primary">
                    <h4 class="ico-card-title">BlockCloud<span class="ico-card-category">(Platform)</span> </h4>
                    <h5 class="ico-card-eta">2d left</h5>
                </div>
                <h2 class="ico-card-rating">8.7</h2>
            </div>
            <progress max="100" value="87"></progress>
        </div>
        </div>
        <div class="col-mb-4">
            <div class="ico-card">
            <div class="ico-card-inner">
                <img class="ico-card-logo" src="https://icodrops.com/wp-content/uploads/2018/06/Glass-Logo-150x150.jpg" alt="">
                <div class="ico-card-primary">
                    <h4 class="ico-card-title">BlockCloud<span class="ico-card-category">(Platform)</span> </h4>
                    <h5 class="ico-card-eta">2d left</h5>
                </div>
                <h2 class="ico-card-rating">8.7</h2>
            </div>
            <progress max="100" value="87"></progress>
        </div>
        </div>
        <div class="col-mb-4">
            <div class="ico-card">
            <div class="ico-card-inner">
                <img class="ico-card-logo" src="https://icodrops.com/wp-content/uploads/2018/06/Glass-Logo-150x150.jpg" alt="">
                <div class="ico-card-primary">
                    <h4 class="ico-card-title">BlockCloud<span class="ico-card-category">(Platform)</span> </h4>
                    <h5 class="ico-card-eta">2d left</h5>
                </div>
                <h2 class="ico-card-rating">8.7</h2>
            </div>
            <progress max="100" value="87"></progress>
        </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="ico-card-grid">
        <div class="ico-card">
            <div class="ico-card-inner">
                <img class="ico-card-logo" src="https://icodrops.com/wp-content/uploads/2018/09/IMG_20180923_150722-150x150.jpg" alt="">
                <div class="ico-card-primary">
                    <h4 class="ico-card-title">BlockCloud<span class="ico-card-category">(Platform)</span> </h4>
                    <h5 class="ico-card-eta">2d left</h5>
                </div>
                <h2 class="ico-card-rating">7.1</h2>
            </div>
            <progress max="100" value="71"></progress>
        </div>
        <div class="ico-card">
            <div class="ico-card-inner">
                <img class="ico-card-logo" src="https://icodrops.com/wp-content/uploads/2018/06/logo2-150x150.jpg" alt="">
                <div class="ico-card-primary">
                    <h4 class="ico-card-title">BlockCloud<span class="ico-card-category">(Platform)</span> </h4>
                    <h5 class="ico-card-eta">2d left</h5>
                </div>
                <h2 class="ico-card-rating">5.1</h2>
            </div>
            <progress max="100" value="51"></progress>
        </div>
        <div class="ico-card">
            <div class="ico-card-inner">
                <img class="ico-card-logo" src="https://icodrops.com/wp-content/uploads/2018/04/CryptoCurve-logo-150x150.jpg" alt="">
                <div class="ico-card-primary">
                    <h4 class="ico-card-title">BlockCloud<span class="ico-card-category">(Platform)</span> </h4>
                    <h5 class="ico-card-eta">2d left</h5>
                </div>
                <h2 class="ico-card-rating">3.1</h2>
            </div>
            <progress max="100" value="31"></progress>
        </div>
        <div class="ico-card">
            <div class="ico-card-inner">
                <img class="ico-card-logo" src="https://icodrops.com/wp-content/uploads/2018/06/Glass-Logo-150x150.jpg" alt="">
                <div class="ico-card-primary">
                    <h4 class="ico-card-title">BlockCloud<span class="ico-card-category">(Platform)</span> </h4>
                    <h5 class="ico-card-eta">2d left</h5>
                </div>
                <h2 class="ico-card-rating">8.7</h2>
            </div>
            <progress max="100" value="87"></progress>
        </div>
        <div class="ico-card">
            <div class="ico-card-inner">
                <img class="ico-card-logo" src="https://icodrops.com/wp-content/uploads/2018/05/Agora-logo-150x150.jpg" alt="">
                <div class="ico-card-primary">
                    <h4 class="ico-card-title">BlockCloud<span class="ico-card-category">(Platform)</span> </h4>
                    <h5 class="ico-card-eta">2d left</h5>
                </div>
                <h2 class="ico-card-rating">2.6</h2>
            </div>
            <progress max="100" value="26"></progress>
        </div>
        <div class="ico-card">
            <div class="ico-card-inner">
                <img class="ico-card-logo" src="https://icodrops.com/wp-content/uploads/2018/03/Sovrin-logo-150x150.jpg" alt="">
                <div class="ico-card-primary">
                    <h4 class="ico-card-title">BlockCloud<span class="ico-card-category">(Platform)</span> </h4>
                    <h5 class="ico-card-eta">2d left</h5>
                </div>
                <h2 class="ico-card-rating">9.7</h2>
            </div>
            <progress max="100" value="97"></progress>
        </div>
        <div class="ico-card">
            <div class="ico-card-inner">
                <img class="ico-card-logo" src="https://icodrops.com/wp-content/uploads/2018/04/Fysical-Protocol-logo-150x150.jpg" alt="">
                <div class="ico-card-primary">
                    <h4 class="ico-card-title">BlockCloud<span class="ico-card-category">(Platform)</span> </h4>
                    <h5 class="ico-card-eta">2d left</h5>
                </div>
                <h2 class="ico-card-rating">5.7</h2>
            </div>
            <progress max="100" value="57"></progress>
        </div>
        <div class="ico-card">
            <div class="ico-card-inner">
                <img class="ico-card-logo" src="https://icodrops.com/wp-content/uploads/2018/07/Celes-Logo-150x150.jpg" alt="">
                <div class="ico-card-primary">
                    <h4 class="ico-card-title">BlockCloud<span class="ico-card-category">(Platform)</span> </h4>
                    <h5 class="ico-card-eta">2d left</h5>
                </div>
                <h2 class="ico-card-rating">8.8</h2>
            </div>
            <progress max="100" value="88"></progress>
        </div>
        <div class="ico-card">
            <div class="ico-card-inner">
                <img class="ico-card-logo" src="https://icodrops.com/wp-content/uploads/2018/06/AERGO-logo-150x150.jpg" alt="">
                <div class="ico-card-primary">
                    <h4 class="ico-card-title">BlockCloud<span class="ico-card-category">(Platform)</span> </h4>
                    <h5 class="ico-card-eta">2d left</h5>
                </div>
                <h2 class="ico-card-rating">9.0</h2>
            </div>
            <progress max="100" value="90"></progress>
        </div>
        <div class="ico-card">
            <div class="ico-card-inner">
                <img class="ico-card-logo" src="https://icodrops.com/wp-content/uploads/2018/04/Origo-Network-logo-150x150.jpg" alt="">
                <div class="ico-card-primary">
                    <h4 class="ico-card-title">BlockCloud<span class="ico-card-category">(Platform)</span> </h4>
                    <h5 class="ico-card-eta">2d left</h5>
                </div>
                <h2 class="ico-card-rating">8.0</h2>
            </div>
            <progress max="100" value="80"></progress>
        </div>
        <div class="ico-card">
            <div class="ico-card-inner">
                <img class="ico-card-logo" src="https://icodrops.com/wp-content/uploads/2017/12/IOAgi9WD_400x400-150x150.jpg" alt="">
                <div class="ico-card-primary">
                    <h4 class="ico-card-title">BlockCloud<span class="ico-card-category">(Platform)</span> </h4>
                    <h5 class="ico-card-eta">2d left</h5>
                </div>
                <h2 class="ico-card-rating">9.4</h2>
            </div>
            <progress max="100" value="94"></progress>
        </div>
        <div class="ico-card">
            <div class="ico-card-inner">
                <img class="ico-card-logo" src="https://icodrops.com/wp-content/uploads/2018/04/Carry-Protocol-logo-150x150.jpg" alt="">
                <div class="ico-card-primary">
                    <h4 class="ico-card-title">BlockCloud<span class="ico-card-category">(Platform)</span> </h4>
                    <h5 class="ico-card-eta">2d left</h5>
                </div>
                <h2 class="ico-card-rating">3.1</h2>
            </div>
            <progress max="100" value="31"></progress>
        </div>
     </div>

</div>


<p class="font-size-15 font-weight-bold mb-3 pb-1">Praesent iaculis, purus ac vehicula mattis, arcu lorem blandit nisl, non laoreet dui mi eget elit. Donec porttitor ex vel augue maximus luctus. Vivamus finibus nibh eu nunc volutpat suscipit.</p>
<p class="font-size-1 mb-3 pb-1">Nam vulputate libero quis nisi euismod rhoncus. Sed eu euismod felis. Aenean ullamcorper dapibus odio ac tempor. Aliquam iaculis, quam vitae imperdiet consectetur, mi ante semper metus, ac efficitur nisi justo ut eros. Maecenas suscipit turpis fermentum elementum scelerisque.</p>
<p class="mb-0 font-size-1">Sed leo elit, volutpat quis aliquet eu, elementum eget arcu. Aenean ligula tellus, malesuada eu ultrices vel, vulputate sit amet metus. Donec tincidunt sapien ut enim feugiat, sed egestas dolor ornare.</p>
</div>
<div class="mb-6">
<div class="bg-gray-1500 p-5 pr-md-7">
<div class="d-md-flex m-1">
<figure class="d-flex justify-content-center justify-content-md-start">
<img class="img-fluid mb-5 mb-md-0 h-60rem" src="../../assets/svg/icons/icon-1.svg" alt="SVG">
</figure>
<div class="ml-md-4">
<p class="mb-2 font-italic font-secondary font-size-22">“Simon Doe has his tongue planted in his cheek as he describes the <br>
fictional skills of his advancing agent.”</p>
<a href="../blog/blog-single.html" class="font-size-13 font-weight-semi-bold font-secondary">- Steve Kowalsky</a>
</div>
</div>
</div>
</div>
<div class="mb-6 pb-1">
<p class="pb-1">Potenti fusce himenaeos hac aenean quis donec vivamus aliquet, wprdpress integer inceptos curae sollicitudin in class sociosqu netus, euismod tempus fermentum odio gravida eleifend viverra pulvinar inceptos ligula consectetur. Potenti ante porttitor tristique curae scelerisque tristique, dictum eu donec conubia sit rutrum duis viverra in commodo.</p>
<p class="pb-1">Nisi habitasse viverra praesent a maecenas odio erat tristique praesent elementum rutrum maecenas blandit nec curabitur donec, turpis varius etiam felis ultrices sit, per inceptos dapibus fames donec praesent quisque commodo primis proin leo nisl lacinia dictumst justo sagittis luctus vestibulum sed quisque.</p>
<p class="mb-0">Potenti fusce himenaeos hac aenean quis donec vivamus aliquet, wprdpress integer inceptos curae sollicitudin in class sociosqu netus, euismod tempus fermentum odio gravida eleifend viverra pulvinar inceptos ligula consectetur. Potenti ante porttitor tristique curae scelerisque tristique, dictum eu donec conubia sit rutrum duis viverra in commodo.</p>
</div>
<div>
<div class="bg-gray-1500 p-5 py-md-6 px-md-7">
<div class="row justify-content-between">
<div class="col-md-6 mb-5 mb-md-">
<a class="d-block" href="../blog/blog-single.html">
<div class="mb-1">
<span class="text-gray-5900 font-size-13">Previous Post</span>
</div>
<div class="text-dark font-size-17 font-weight-semi-bold pb-1">Saints, Leicester agree Maddison fee</div>
<div class="d-flex align-items-center">
<div class="font-size-13 font-weight-bold text-lh-1dot1">Trailers
</div>
<div class="product-comment font-weight-normal font-size-13 font-italic h-g-primary">
<span>October 6 2020</span>
</div>
</div>
</a>
</div>
<div class="col-md-6">
<a class="d-block" href="../blog/blog-single.html">
<div class="text-md-right">
<div class="mb-1">
<span class="text-gray-5900 font-size-13">Next Post</span>
</div>
<div class="text-dark font-size-17 font-weight-semi-bold pb-1">Announcement – Post without Image. John Drops Weapon to Water with Toxins</div>
<div class="d-md-flex align-items-center justify-content-md-end">
<div class="font-size-13 font-weight-bold text-lh-1dot1">Announcements
</div>
<div class="product-comment font-weight-normal font-size-13 font-italic h-g-primary">
<span>November 6 2020</span>
</div>
</div>
</div>
</a>
</div>
</div>
</div>
</div>
</div>
</div>




</div>
</main>