<main id="content">
<div class="bg-gray-4500 dark">
<div class="container px-md-5">
<nav aria-label="breadcrumb">

</nav>
<div class="row mb-4">
<div class="col-md-8 col-xl-9 mb-4">
<div class="position-relative min-h-270rem mb-2d mr-xl-3">
<video
      id="my-video"
      class="video-js"
      controls
      preload="auto"
      poster="https://northeastherald.sfo3.digitaloceanspaces.com/kyt/v4_thumbnail.jpg"
      data-setup="{}"
     style="width: 100%;">
      <source src="https://northeastherald.sfo3.digitaloceanspaces.com/kyt/kyt_v4.mp4" type="video/mp4" />
      <source src="https://northeastherald.sfo3.digitaloceanspaces.com/kyt/kyt_v4.mp4" type="video/webm" />
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
        <a href="https://videojs.com/html5-video-support/" target="_blank"
          >supports HTML5 video</a
        >
      </p>
    </video>

{{!--     
<iframe class="position-absolute w-100 h-lg-down-100 position-xl-relative top-0 bottom-0" height="620" src="https://www.youtube.com/embed/K5h2cd4QtKk" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> --}}




</div>
<div class="mr-xl-3">
<div class="mb-2">
<h5 class="font-size-21 font-weight-medium text-white">Anderson Fights His Way to Glory</h5>
</div>
<div class="font-size-12 mb-4">
<span class="d-inline-flex text-gray-1300 align-items-center mr-3">Published on March 4, 2020</span>
<span class="d-inline-flex text-gray-1300 align-items-center mr-3"><i class="far fa-eye mr-1d"></i> 2.4K views</span>
</div>
<div class="bg-gray-3100 rounded d-flex py-2d px-3 align-items-center mb-4">

<div class="hs-unfold">
<a class="js-hs-unfold-invoker dropdown-nav-link dropdown-toggle remove h-g-primary font-size-14" href="javascript:;" data-hs-unfold-options="{
                                        &quot;target&quot;: &quot;#basicDropdownClick-1&quot;
                                    }">+ Playlist</a>
<div id="basicDropdownClick-1" class="hs-unfold-content dropdown-menu my-account-dropdown">
<a class="dropdown-item active h-g-primary" href="#">+ Create a playlist</a>
</div>
</div>

<div class="ml-auto d-flex align-items-center text-gray-1300 font-size-12">
<a href="#" class="h-g-primary mr-1d font-size-18"><i class="far fa-thumbs-up"></i></a>
<span>13+</span>
</div>
</div>
<div class="collapse" id="collapseExample">
<p class="mb-4 text-gray-1300">Saina Nehwal wins Indonesia Masters 2019 after Carolina Marin retires with injury.</p>
</div>
<div>
<a class="show-more-arrow font-size-14" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
Show more <i class="ml-1d fas fa-chevron-down font-size-10"></i>
</a>
</div>
<nav class="js-scroll-nav">
<div class="space-1 position-relative d-flex">
<a class="nav-link mx-auto px-6 py-2d font-size-14 h-w-primary z-index-2 border border-gray-3900 rounded-pill bg-gray-4500" href="#leave-comment"><i class="far fa-comment mr-2"></i> Leave a comment</a>
<div class="border-top content-centered w-100 border-gray-3900"></div>
</div>
</nav>
</div>
</div>
<div class="col-md-4 col-xl-3">
<a href="../single-video/single-video-v1.html" class="d-block mb-3d">
<img class="img-fluid" src="../../assets/img/350x277/img1.jpg" alt="Image-Description">
</a>
<div class="mb-4">
<h5 class="text-white font-size-18 font-weight-medium">Up Next</h5>
<div class="row d-block d-xl-flex align-items-center no-gutters mb-2d">
<div class="col product-image mb-2d mb-xl-0">
<a href="../single-video/single-video-v3.html" class="d-block  stretched-link">
<img class="img-fluid" src="../../assets/img/480x270/img56.jpg" alt="Image-Description">
</a>
</div>
<div class="col">
<div class="mx-xl-2d">
<div class="product-title font-size-13 font-weight-semi-bold mb-1d">
<a href="../single-video/single-video-v3.html" class>Spain vs Netherlands</a>
</div>
<div class="product-meta dot font-size-12 mb-1">
<span class="d-inline-flex text-gray-1300">1K views</span>
<span class="d-inline-flex text-gray-1300">1 year ago</span>
</div>
</div>
</div>
</div>
<div class="row d-block d-xl-flex align-items-center no-gutters mb-2d">
<div class="col product-image mb-2d mb-xl-0">
<a href="../single-video/single-video-v3.html" class="d-block  stretched-link">
<img class="img-fluid" src="../../assets/img/480x270/img57.jpg" alt="Image-Description">
</a>
</div>
<div class="col">
<div class="mx-xl-2d">
<div class="product-title font-size-13 font-weight-semi-bold mb-1d">
<a href="../single-video/single-video-v3.html" class>Anderson Fights His Way to Glory</a>
</div>
<div class="product-meta dot font-size-12 mb-1">
<span class="d-inline-flex text-gray-1300">1K views</span>
<span class="d-inline-flex text-gray-1300">1 year ago</span>
</div>
</div>
</div>
</div>
<div class="row d-block d-xl-flex align-items-center no-gutters mb-2d">
<div class="col product-image mb-2d mb-xl-0">
<a href="../single-video/single-video-v3.html" class="d-block  stretched-link">
<img class="img-fluid" src="../../assets/img/480x270/img58.jpg" alt="Image-Description">
</a>
</div>
<div class="col">
<div class="mx-xl-2d">
<div class="product-title font-size-13 font-weight-semi-bold mb-1d">
<a href="../single-video/single-video-v3.html" class>Unstoppable Vihari Cruises with 151*</a>
</div>
<div class="product-meta dot font-size-12 mb-1">
<span class="d-inline-flex text-gray-1300">1K views</span>
<span class="d-inline-flex text-gray-1300">1 year ago</span>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="container px-md-5">
<section class="mb-5">
<div class="d-flex align-items-center mb-4">
<h2 class="font-size-18 font-weight-medium text-gray-700 mb-0">Related Videos</h2>
<div class="border-top col p-0 ml-3 border-gray-3600"></div>
</div>
<div class="row row-cols-2 row-cols-xl-5">
<div class="col mb-3">
<div class="product">
<div class="product-image mb-2 pb-1">
<a class="d-block position-relative stretched-link" href="../single-video/single-video-v3.html">
<img class="img-fluid" src="../../assets/img/480x270/img7.jpg" alt="Image-Description">
</a>
</div>
<h6 class="product-title font-size-1 font-weight-bold mb-0">
<a href="../single-video/single-video-v3.html">Captain Marvel</a>
</h6>
<div class="product-meta dot font-size-12 mb-1">
<span class="d-inline-flex text-gray-1300">1K views</span>
<span class="d-inline-flex text-gray-1300">1 year ago</span>
</div>
</div>
</div>
<div class="col mb-3">
<div class="product">
<div class="product-image mb-2 pb-1">
<a class="d-block position-relative stretched-link" href="../single-video/single-video-v3.html">
<img class="img-fluid" src="../../assets/img/480x270/img65.jpg" alt="Image-Description">
</a>
</div>
<h6 class="product-title font-size-1 font-weight-bold mb-0">
<a href="../single-video/single-video-v3.html">Aladdin</a>
</h6>
<div class="product-meta dot font-size-12 mb-1">
<span class="d-inline-flex text-gray-1300">24 views</span>
<span class="d-inline-flex text-gray-1300">1 year ago</span>
</div>
</div>
</div>
<div class="col mb-3">
<div class="product">
<div class="product-image mb-2 pb-1">
<a class="d-block position-relative stretched-link" href="../single-video/single-video-v3.html">
<img class="img-fluid" src="../../assets/img/480x270/img64.jpg" alt="Image-Description">
</a>
</div>
<h6 class="product-title font-size-1 font-weight-bold mb-0">
<a href="../single-video/single-video-v3.html">Pet Sematary</a>
</h6>
<div class="product-meta dot font-size-12 mb-1">
<span class="d-inline-flex text-gray-1300">454 views</span>
<span class="d-inline-flex text-gray-1300">1 year ago</span>
</div>
</div>
</div>
<div class="col mb-3">
<div class="product">
<div class="product-image mb-2 pb-1">
<a class="d-block position-relative stretched-link" href="../single-video/single-video-v3.html">
<img class="img-fluid" src="../../assets/img/480x270/img63.jpg" alt="Image-Description">
</a>
</div>
<h6 class="product-title font-size-1 font-weight-bold mb-0">
<a href="../single-video/single-video-v3.html">Avengers: Endgame</a>
</h6>
<div class="product-meta dot font-size-12 mb-1">
<span class="d-inline-flex text-gray-1300">54 views</span>
<span class="d-inline-flex text-gray-1300">1 year ago</span>
</div>
</div>
</div>
<div class="col mb-3">
<div class="product">
<div class="product-image mb-2 pb-1">
<a class="d-block position-relative stretched-link" href="../single-video/single-video-v3.html">
<img class="img-fluid" src="../../assets/img/480x270/img62.jpg" alt="Image-Description">
</a>
</div>
<h6 class="product-title font-size-1 font-weight-bold mb-0">
<a href="../single-video/single-video-v3.html">Captain Marvel</a>
</h6>
<div class="product-meta dot font-size-12 mb-1">
<span class="d-inline-flex text-gray-1300">54 views</span>
<span class="d-inline-flex text-gray-1300">1 year ago</span>
</div>
</div>
</div>
<div class="col mb-3">
<div class="product">
<div class="product-image mb-2 pb-1">
<a class="d-block position-relative stretched-link" href="../single-video/single-video-v3.html">
<img class="img-fluid" src="../../assets/img/480x270/img8.jpg" alt="Image-Description">
</a>
</div>
<h6 class="product-title font-size-1 font-weight-bold mb-0">
<a href="../single-video/single-video-v3.html">Final: Malaysia Masters</a>
</h6>
<div class="product-meta dot font-size-12 mb-1">
<span class="d-inline-flex text-gray-1300">32 views</span>
<span class="d-inline-flex text-gray-1300">1 year ago</span>
</div>
</div>
</div>
<div class="col mb-3">
<div class="product">
<div class="product-image mb-2 pb-1">
<a class="d-block position-relative stretched-link" href="../single-video/single-video-v3.html">
<img class="img-fluid" src="../../assets/img/480x270/img58.jpg" alt="Image-Description">
</a>
</div>
<h6 class="product-title font-size-1 font-weight-bold mb-0">
<a href="../single-video/single-video-v3.html">BEST BASKETBALL VINES OF FEBRUARY 2019 | WEEK 2 | SAUCY HIGHLIGHTS!</a>
</h6>
<div class="product-meta dot font-size-12 mb-1">
<span class="d-inline-flex text-gray-1300">454 views</span>
<span class="d-inline-flex text-gray-1300">1 year ago</span>
</div>
</div>
</div>
<div class="col mb-3">
<div class="product">
<div class="product-image mb-2 pb-1">
<a class="d-block position-relative stretched-link" href="../single-video/single-video-v3.html">
<img class="img-fluid" src="../../assets/img/480x270/img67.jpg" alt="Image-Description">
</a>
</div>
<h6 class="product-title font-size-1 font-weight-bold mb-0">
<a href="../single-video/single-video-v3.html">Dhoni, India seal tense ODI series win</a>
</h6>
<div class="product-meta dot font-size-12 mb-1">
<span class="d-inline-flex text-gray-1300">454 views</span>
<span class="d-inline-flex text-gray-1300">1 year ago</span>
</div>
</div>
</div>
<div class="col mb-3">
<div class="product">
<div class="product-image mb-2 pb-1">
<a class="d-block position-relative stretched-link" href="../single-video/single-video-v3.html">
<img class="img-fluid" src="../../assets/img/480x270/img61.jpg" alt="Image-Description">
</a>
</div>
<h6 class="product-title font-size-1 font-weight-bold mb-0">
<a href="../single-video/single-video-v3.html">Saina Nehwal vs PV Sindhu — The Big Clash!</a>
</h6>
<div class="product-meta dot font-size-12 mb-1">
<span class="d-inline-flex text-gray-1300">454 views</span>
<span class="d-inline-flex text-gray-1300">1 year ago</span>
</div>
</div>
</div>
<div class="col mb-3">
<div class="product">
<div class="product-image mb-2 pb-1">
<a class="d-block position-relative stretched-link" href="../single-video/single-video-v3.html">
<img class="img-fluid" src="../../assets/img/480x270/img68.jpg" alt="Image-Description">
</a>
</div>
<h6 class="product-title font-size-1 font-weight-bold mb-0">
<a href="../single-video/single-video-v3.html">Men’s 100m at Athletics World Cup 2018</a>
</h6>
<div class="product-meta dot font-size-12 mb-1">
<span class="d-inline-flex text-gray-1300">54 views</span>
<span class="d-inline-flex text-gray-1300">1 year ago</span>
</div>
</div>
</div>
</div>
</section>
<div class="space-1">
<div id="leave-comment" class="d-flex align-items-center mb-4">
<h2 class="font-size-18 font-weight-medium text-gray-700 mb-0">Be the first to comment “Anderson Fights His Way to Glory”</h2>
<div class="border-top col p-0 ml-3 border-gray-3600"></div>
</div>
<form action="#" method="post" id="commentform" class="comment-form mb-6" novalidate>
<div class="form-group">
<label class="input-label" for="exampleFormControlTextarea1">Your comment <span class="required">*</span></label>
<textarea id="exampleFormControlTextarea1" class="form-control" rows="8"></textarea>
<button class="btn btn-primary mt-4 px-4" type="button" name="button">SUBMIT</button>
</div>
</form>
<p>There are no comments yet.</p>
</div>
</div>
</main>


