  <!-- Content wrapper -->
      <div class="content-wrapper">

        <!-- Content -->
        
          <div class="container-xxl flex-grow-1 container-p-y">
            
            
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span> Videos Post</h4>

<!-- Basic Layout -->
<div class="row">
  <div class="col-xl">
    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Basic Layout</h5> <small class="text-muted float-end">Default label</small>
      </div>
      <div class="card-body">
        <form method="post" action="/api/v1/post/videoes">
          <div class="form-floating form-floating-outline mb-4">
            <input type="text" class="form-control" id="basic-default-fullname" name="videos_title" placeholder="videos_title" />
            <label for="basic-default-fullname">videos_title</label>
          </div>

          {{!-- <div class="form-floating form-floating-outline mb-4">
            <input type="text" id="multicol-birthdate" name="panchang_date" class="form-control dob-picker" placeholder="YYYY-MM-DD" />
            <label for="multicol-birthdate">Panchang Date</label>
          </div> --}}

          <div class="form-floating form-floating-outline mb-4">
            <input type="text" class="form-control" id="basic-default-company" name="videos_keyword" placeholder="videos_keyword" />
            <label for="basic-default-company">videos_keyword</label>
          </div>

          <div class="form-floating form-floating-outline mb-4">
            <input type="text" class="form-control" id="basic-default-company" name="videos_path" placeholder="videos_path" />
            <label for="basic-default-company">videos_path</label>
          </div>

          <div class="form-floating form-floating-outline mb-4">
            <input type="text" class="form-control" id="basic-default-company" name="videos_temple_locate" placeholder="Month" />
            <label for="basic-default-company">videos_temple_locate</label>
          </div>

          <div class="form-floating form-floating-outline mb-4">
            <input type="text" class="form-control" id="basic-default-company" name="videos_publisher" placeholder="Month" />
            <label for="basic-default-company">videos_publisher</label>
          </div>

          <div class="form-floating form-floating-outline mb-4">
            <input type="text" class="form-control" id="basic-default-company" name="videos_thumbnail" placeholder="Month" />
            <label for="basic-default-company">videos_thumbnail</label>
          </div>


          

          
      </div>
    </div>
  </div>










 
</div>










<!-- Multi Column with Form Separator -->
<div class="card mb-4">
  <h5 class="card-header">Multi Column with Form Separator</h5>
    <div class="row g-4" style="padding:12px;">


      <div class="form-floating form-floating-outline">
          <textarea class="mytextarea"  name="videos_description" rows="10" novalidate></textarea>
      </div>

     

    
    </div>
    </div>




   


<!-- Form with Tabs -->
<div class="row">
  <div class="col">
    <h6 class="mt-4"></h6>
    <div class="card mb-3">
      <div class="card-header">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#form-tabs-personal" role="tab" aria-selected="true">Pandeet</button>
          </li>
        </ul>
      </div>

        <div class="tab-content">
            <div class="tab-pane fade active show" id="form-tabs-personal" role="tabpanel">
                <div class="row g-4">
                
                    <div class="col-md-4">
                    <div class="form-floating form-floating-outline">
                        <select id="formtabs-country" class="select2 form-select" data-allow-clear="true" name="videos_category">
                        <option value="">Select Category</option>
                        {{#each vCname}}

                        <option value="{{vcategories_name}}">{{vcategories_name}}</option>
                        {{/each}}
                        
                        </select>
                        <label for="formtabs-country">Videos Category</label>
                    </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-floating form-floating-outline">
                        <select id="formtabs-" class="select2 form-select" data-allow-clear="true" name="videos_publish">
                            <option value="">videos_publish</option>
                            <option value="published">published</option>
                            <option value="draft">draft</option>         
                        </select>
                        <label for="formtabs-country">Videos Publish</label>
                        </div>
                    </div>
                </div>
                <div class="pt-4">
                <button type="submit" class="btn btn-primary me-sm-3 me-1">Submit</button>
                </div>
            </div>
        </div>

    </div>

          </div>
  </div>
</div>



            
</div>
          <!-- / Content -->